body{
    background-image: url("background-image.jpg");
    background-size: 100%;
}
.topnav{
    background-color: rgb(51, 51, 51);
    overflow: hidden;
}
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 10px 25px;
    font-size: 18px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
img{
    height: 120px;
}
#content{
    color: white;
    font-size: 30px;
    margin-top: 30px;
}
#container{
    border: 2px solid white;
    margin-top: 110px;
    width: 600px;
    padding: 30px;
    background: rgb(51, 51, 51,0.4);
}